.listing-page {
  padding: 2rem 19rem;
}
.company-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
.card-container {
  width: 294px;
  /* height: 378px; */
  background: #ffffff;
  border: 1px solid #e5e6e9;
  box-shadow: 0px 1px 4px rgba(30, 40, 58, 0.04);
  border-radius: 12px;
  position: relative;
}
.image-container {
  width: 294px;
  height: 180px;
}
.image-container > img {
  width: 100%;
}
.bookmark {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
  background: #323438;
  opacity: 0.4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.title {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #323438;
}
.sub-title {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #85878c;
}
.line {
  width: 254px;
  height: 1px;
  border: 1px solid #e5e6e9;
}
.company-info {
  display: flex;
  gap: 0.5rem;
}
.company-logo {
  width: 24px;
  height: 24px;
  border: 1px solid #e5e6e9;
  border-radius: 4px;
}
.company-logo > img {
  width: 100%;
}
.company-name {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323438;
}
.grade-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grade {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323438;
}
.grade-count {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #85878c;
}
.appeal {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #85878c;
}
.review,
.reward {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #323438;
}
